/* icons */
.icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.125em;
  transform: translate(0);
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

.about a,
.about label {
  white-space: nowrap;
}
